/*reset*/
html, body, nav, p, div, span, code, h1, h2, a, button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f0f0f0;
}

#root > div {
  min-width: 34vw;
  max-width: 600px;
  margin: auto;
  padding: 2vh 3vw 12vh 3vw;
}

html {
  background-color: rgb(0, 120, 0);
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  font-family: helvetica neue, helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

p {
  margin: 4vh 0 3vh 0;
}

h1 {
  font-size: 24px;
}

h1 code {
  font-size: 20px;
}

#repo-link {
  font-size: 14px;
  margin-bottom: 2vh;
}

/*tests styling*/
.test {
  margin: 3vh 0;
}

h2 {
  font-size: 20px;
}

.test-description {
  margin: 0 0 1vh 0;
}

.anchor-tag {
 margin: 1vh 0;
}

.button-tag {
  margin: 2vh 0;
}

a {
  border-bottom: 1px dotted;
  touch-action: none;
}

button {
  padding: 4px;
  border: 1px solid;
  border-radius: 5px;
}

code {
  font-family: monospace;
  font-size: 15px;
  padding-left: 2px;
}

/*test 1*/
.test-1:hover {
  color: green;
}

.test-1:active {
  color: red;
}

/*test 2*/
@media (hover: hover) {
  .test-2:hover {
    color: green;
  }

  .test-2:active {
    color: red;
  }
}

@media (hover: none) {
  .test-2:active {
    color: blue;
  }
}

/*test 3*/
.test-3:hover {
  color: green;
}

.test-3:active {
  color: red;
}

@media (hover: none) {
  .test-3:hover {
    color: inherit;
  }

  .test-3:active {
    color: blue;
  }
}

/*test 4*/
.no-touch .test-4:hover {
  color: green;
}

.no-touch .test-4:active {
  color: red;
}

.touch .test-4:active {
  color: blue;
}

/*test 5*/
.no-touch .test-5:hover {
  color: green;
}

.no-touch .test-5:active {
  color: red;
}

@media (hover: hover) {
  .test-5:hover {
    color: green;
  }

  .test-5:active {
    color: red;
  }
}

.touch .test-5:active {
  color: blue;
}
